@using System.Web.Optimization
@using Sandbox.HitMe.Portal.Client
<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <link rel="icon"
              type="image/png"
              href="Content/graphics/icon-32x32.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="find out who clicks your links in your email"/>

        <title>@AppResources.Title</title>

        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/bundles/styles")

    </head>
<body data-ng-controller="AppController">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"
                        data-ng-click="collapse=!collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    @AppResources.Title
                </a>
            </div>
            <div class="navbar-collapse collapse" role="navigation"
                 data-ng-class="{in:collapse}">
                <div class="navbar navbar-form" data-home-send-form></div>
            </div>
        </div>
    </div>
    
    <div class="tag">
        <div class="container">
            @Html.Raw(AppResources.Tag)
        </div>
    </div>

    <div class="view-container">

        <div data-ui-view class="view-frame">

        </div>
    </div>

    <a-status></a-status>

    <div class="tag">
        <div class="container">
            <p class="pull-right navbar-text">
                <a href="http://antix.co.uk">antix.co.uk</a>
            </p>
            <p class="pull-leftt navbar-text">
                @Html.Raw(AppResources.Foot)
            </p>
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/scripts")

    <script src="~/signalr/hubs"></script>
</body>
</html>
